@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

body{
background-color: #f8f8f8;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;
    margin-top: 70px;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}

p{
line-height: 28px;
margin-bottom: 25 px;
}
.centered{
    text-align: center;
}
a{
    color:#f85c37;
}
a:hover, a:focus{
    color:#7b7b7b;
    text-decoration: none;
    outline: 0;
}
hr{
    display: block;
    height: 1px;
    border: 0px;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.navbar{
    font-weight: 800;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-inverse{
    background: #2d2d2d;
    border-color: #2d2d2d;
}
.navbar-inverse .navbar-nav >.active >a {
    background-color: brown;
}
.navbar-inverse .navbar-brand{
    color: brown;
    font-weight: bolder;
    font-size: 22px;
    letter-spacing: 1px;
}
#headerwrap{
    background: url(../img/1.jpg) no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;
    background-size: cover;
    background-size: 100%;
    
}
#headerwrap h1{
    margin-top: 100px;
    color:white;
    font-size: 70px;
    font-weight: 300;
    letter-spacing: 3px;
}
#headerwrap h3{
    margin-top: 100px;
    color:white;
    font-size: 40px;
    letter-spacing:2px;
    text-transform: uppercase;
}
.w{
    padding-top: 35px;
}
.w h4{
    font-size: 25px;
}